
DevonC/.vs/DevonC/v16/Browse.VC.db
DevonC/.vs/DevonC/v16/Browse.VC.db-shm
DevonC/.vs/DevonC/v16/Browse.VC.db-wal
DevonC/.vs/DevonC/v16/Browse.VC.opendb
DevonC/.vs/DevonC/v16/.suo
DevonC/.vs/DevonC/v16/ipch/9040f830925af4b6.ipch
DevonC/.vs/DevonC/v16/ipch/AutoPCH/166333358abfb596/DEVONC.ipch
DevonC/.vs/DevonC/v16/ipch/AutoPCH/82adc6b80d1b3a7c/DEVONC.ipch
DevonC/.vs/DevonC/v16/ipch/AutoPCH/a3744df111eedc9b/DEVONC.ipch
DevonC/.vs/DevonC/v16/ipch/AutoPCH/c182ae35b48c05d1/DEVONC.ipch
DevonC/Debug/DevonC.Build.CppClean.log
DevonC/Debug/DevonC.exe
DevonC/Debug/DevonC.exe.recipe
DevonC/Debug/DevonC.ilk
DevonC/Debug/DevonC.log
DevonC/Debug/DevonC.obj
DevonC/Debug/DevonC.pdb
DevonC/Debug/DevonC.tlog/CL.command.1.tlog
DevonC/Debug/DevonC.tlog/CL.read.1.tlog
DevonC/Debug/DevonC.tlog/CL.write.1.tlog
DevonC/Debug/DevonC.tlog/DevonC.lastbuildstate
DevonC/Debug/DevonC.tlog/link.command.1.tlog
DevonC/Debug/DevonC.tlog/link.read.1.tlog
DevonC/Debug/DevonC.tlog/link.write.1.tlog
DevonC/Debug/DevonC.vcxproj.FileListAbsolute.txt
DevonC/Debug/vc142.idb
DevonC/Debug/vc142.pdb
DevonC/Release/DevonC.Build.CppClean.log
DevonC/Release/DevonC.exe
DevonC/Release/DevonC.exe.recipe
DevonC/Release/DevonC.iobj
DevonC/Release/DevonC.ipdb
DevonC/Release/DevonC.log
DevonC/Release/DevonC.obj
DevonC/Release/DevonC.pdb
DevonC/Release/DevonC.tlog/CL.command.1.tlog
DevonC/Release/DevonC.tlog/CL.read.1.tlog
DevonC/Release/DevonC.tlog/CL.write.1.tlog
DevonC/Release/DevonC.tlog/DevonC.lastbuildstate
DevonC/Release/DevonC.tlog/DevonC.write.1u.tlog
DevonC/Release/DevonC.tlog/link.command.1.tlog
DevonC/Release/DevonC.tlog/link.read.1.tlog
DevonC/Release/DevonC.tlog/link.write.1.tlog
DevonC/Release/DevonC.vcxproj.FileListAbsolute.txt
DevonC/Release/vc142.pdb
DevonC/x64/Debug/DevonC.Build.CppClean.log
DevonC/x64/Debug/DevonC.exe
DevonC/x64/Debug/DevonC.exe.recipe
DevonC/x64/Debug/DevonC.ilk
DevonC/x64/Debug/DevonC.log
DevonC/x64/Debug/DevonC.obj
DevonC/x64/Debug/DevonC.pdb
DevonC/x64/Debug/DevonC.tlog/CL.command.1.tlog
DevonC/x64/Debug/DevonC.tlog/CL.read.1.tlog
DevonC/x64/Debug/DevonC.tlog/CL.write.1.tlog
DevonC/x64/Debug/DevonC.tlog/DevonC.lastbuildstate
DevonC/x64/Debug/DevonC.tlog/link.command.1.tlog
DevonC/x64/Debug/DevonC.tlog/link.read.1.tlog
DevonC/x64/Debug/DevonC.tlog/link.write.1.tlog
DevonC/x64/Debug/DevonC.vcxproj.FileListAbsolute.txt
DevonC/x64/Debug/vc142.idb
DevonC/x64/Debug/vc142.pdb
DevonC/x64/Release/DevonC.Build.CppClean.log
DevonC/x64/Release/DevonC.exe
DevonC/x64/Release/DevonC.exe.recipe
DevonC/x64/Release/DevonC.iobj
DevonC/x64/Release/DevonC.ipdb
DevonC/x64/Release/DevonC.log
DevonC/x64/Release/DevonC.obj
DevonC/x64/Release/DevonC.pdb
DevonC/x64/Release/DevonC.tlog/CL.command.1.tlog
DevonC/x64/Release/DevonC.tlog/CL.read.1.tlog
DevonC/x64/Release/DevonC.tlog/CL.write.1.tlog
DevonC/x64/Release/DevonC.tlog/DevonC.lastbuildstate
DevonC/x64/Release/DevonC.tlog/DevonC.write.1u.tlog
DevonC/x64/Release/DevonC.tlog/link.command.1.tlog
DevonC/x64/Release/DevonC.tlog/link.read.1.tlog
DevonC/x64/Release/DevonC.tlog/link.write.1.tlog
DevonC/x64/Release/DevonC.vcxproj.FileListAbsolute.txt
DevonC/x64/Release/vc142.pdb
DevonC/DevonC.vcxproj.user
